{% block zenstruck_media_widget %}
    {% spaceless %}
        {% set attr = attr|merge({ 'class': attr.class|default('') ~ ' zenstruck-media-input' }) %}
        <div class="input-append zenstruck-media-widget">
            <input type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
            {% if not required %}
                <a href="#" class="btn zenstruck-media-clear"><b class="icon-remove"></b></a>
            {% endif %}
            <a href="{{ media_url }}" class="btn zenstruck-media-select">Browse...</a>
        </div>
    {% endspaceless %}
{% endblock %}
