.modal form {
    margin-bottom: 0;
}

.btn-toolbar .btn-text {
    vertical-align: middle;
    display: inline-block;
    font-size: 14px;
    border: 1px solid #cccccc;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 0 5px 0 5px;
    padding: 2px 10px;
    line-height: 20px;
}

#zenstruck-media-table th,
#zenstruck-media-table td {
    vertical-align: middle;
}

#zenstruck-media-table th:not(:first-child),
#zenstruck-media-table td:not(:first-child) {
    border-left: none;
}

#zenstruck-media-thumb .zenstruck-media-thumbnail-container {
    margin-bottom: 4px;
    border-bottom: 1px solid #eee;
    display: table;
    height: 130px;
    width: 100%;
}

#zenstruck-media-thumb .zenstruck-media-thumbnail-container span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#zenstruck-media-thumb li {
    position: relative;
}
#zenstruck-media-thumb .zenstruck-media-thumbnail-caption {
    text-align: center;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#zenstruck-media-thumb .zenstruck-media-actions {
    position: absolute;
    top: 3px;
    right: 3px;
}

/* Custom Icons */
[class^="icon-custom-"], [class*=" icon-custom-"] {
    background-position:-24px -24px;
}
.icon-custom-jpg,
.icon-custom-jpeg,
.icon-custom-gif,
.icon-custom-png {
    background-position:-456px -48px;
}
.icon-custom-pdf {
    background: url(../images/pdf14.gif) 0 0 no-repeat;
}
.icon-custom-doc,
.icon-custom-docx {
    background: url(../images/doc14.gif) 0 0 no-repeat;
}
.icon-custom-xls,
.icon-custom-xlsx {
    background: url(../images/doc14.gif) 0 0 no-repeat;
}

/* Responsive */
@media (min-width: 1200px) {
    #zenstruck-media .zenstruck-media-thumbnail-container {
        height: 160px;
    }
}

@media (max-width: 979px) and (min-width: 768px) {
    #zenstruck-media .zenstruck-media-thumbnail-container {
        height: 94px;
    }
}